{% extends "events/base.html" %}

{% block content %}
<ul class="event-list">
  {% for event in events %}
  <li class="event">
    <span class="event-day">{{ event.event_day }}</span>
    {% with ''|center:event.star_rating as range %}
    {% for i in range %}
    &#x2b50;
    {% endfor %}
    {% endwith %}

    <ul class="tag-list">
      {% for tag in event.tags.all %}
      <li class="tags">
        {% autoescape on %}
        <a href="{% url 'events:tag' tag %}" class="tag-link">
          {% endautoescape %}
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="event-details">
      {{ event.event_type }}
      {{ event.event_description }}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
